* {
    margin: auto;
    font-size: 20px;
    font-weight: 200;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-right: 40px;
  }
  
  li {
    padding: 20px;
    width: 200px;
    height: 200px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    border: solid #5b6dcd 1px;
  }
  
  img {
    width: 200px;
    height: 100px;
  }
  
  .loader{
      text-align: center;
      font-size: 50px;
  }